// Colors
@yellow: #CFF09E;
@green1: #A8DBA8;
@green2: #79BD9A;
@aqua: #3B8686;
@blue: #0B486B;

body {
  background-color: #eee;
}

header {
  .navtop {
    height: 20px;
    background-color: @blue;
    font-size: 0.8em;

    a {
      color: #eee;
      font-weight: bold;

      &:hover {
        background-color: transparent;
        color: #fff;
      }
    }

    ul {
      li {
        padding-right: 10px;
        float: left;
      }

      &.pull-right li {
        padding: 0 0 0 10px;

        span {
          padding-right: 10px;
          color: #eee;
          font-weight: normal;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .navbar {
    margin-bottom: 20px;

    .nav > li > a,
    a.brand {
      padding-left: 0;
      color: #fff;
      text-shadow: #222 0 0 1px;
    }
  }

  .navbar-inner {
    background-color: @green2;
    background-image: none;
  }
}

#actions {
  padding-top: 20px;
}

#actions ul {
  padding: 0 25px 0 0;
  margin: 0;
  list-style: none;

  li {
    float: left;
    margin: 0 2px 0 0;
    padding: 8px 0;

    a {
      padding: 10px 25px;
      color: #ffffff;
      text-shadow: 1px 1px 0 #6e797d;
      text-decoration: none;
      font-weight: bold;
      background-color: #959ea2;

      &:hover {
        text-shadow: 1px 1px 0 #51595c;
        background-color: #6d787c;
      }
    }
  }
}

#sidebar {
  h4 {
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    li {
      padding: 2px 15px;

      a {
        text-decoration: none;
        color: #798488;
      }

      &.active {
        background-color: #e7e9ea;
        color: #3f4547;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        margin-bottom: 2px;

        a {
          color: #3f4547;
          text-shadow: 0 1px 0 #ffffff;
        }
      }
    }
  }
}

/**** index ****/
#feedback {
  border: 1px solid @green2;
  background-color: #fff;

  h2 {
    margin: 20px 0 0 0;
  }

  hr {
    margin: 0;
  }

  table.list {
    border-top: 1px solid #ddd;
  }

  td {
    &.details p {
      margin-top: 3px;
    }

    &.status {
      width: 40px;
    }

    &.feedback-private {
      color: #ff0000;
      background-color: #ffcccc;
      font-weight: bold;
      text-align: center;
    }
  }

  td.details p img, p .feedback-user img {
    vertical-align: middle;
  }

  td.details p .avatar, p .feedback-user .avatar {
    margin: 0 5px;
  }
}

footer {
  margin: 5px 0 20px 0;

  a {
    color: #989898;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 0.8em;
  }
}

.vote_buttons {
  .btn-mini {
    width: 50px;

    &.voted {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #faa732;
      *background-color: #f89406;
      background-image: -moz-linear-gradient(top, #fbb450, #f89406);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
      background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
      background-image: -o-linear-gradient(top, #fbb450, #f89406);
      background-image: linear-gradient(to bottom, #fbb450, #f89406);
      background-repeat: repeat-x;
      border-color: #f89406 #f89406 #ad6704;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
  }
}

.feedback-status {
  font-weight: normal;
  font-size: 11px;
  padding: 2px 7px;
  vertical-align: middle;
  background-color: #d2f4f6;
  color: #326c6f;

  &-accepted {
    background-color: #d8f4ff;
    color: #3a95c4;
  }

  &-done {
    background-color: #e4ffbc;
    color: #499e00;
  }

  &-new {
    background-color: #ffd8d8;
    color: #ff4e4e;
  }
}

.feedback-type {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 8px;
  color: #ffffff;
  font-size: 9px;
  text-transform: uppercase;
  background-color: #219da4;

  &-problem {
    background-color: #ff4e4e;
  }

  &-general {
    background-color: #499e00;
  }

  &-idea {
    background-color: #3a95c4;
  }

  &-wontdo {
    background-color: #a760ff;
  }

  &-question {
    background-color: #009e8e;
  }
}

.feedback-comments {
  margin-right: 10px;
  font-size: 11px;
}

.feedback-user,
.feedback-date {
  font-size: 11px;
  color: #727c82;
}

p.meta {
  margin-bottom: 50px;
}

/**** detail ****/
#feedback-detail-heading {
  margin: 0;
  padding: 10px 0 0 0;

  .feedback-type {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.message.staff {
  background-color: #f1fbff;

  .staff {
    float: left;
    clear: left;
    padding-left: 10px;
    color: #747474;
    font-size: 11px;
  }
}

#feedback-duplicate {
  margin: 10px 0 20px 0;
  padding: 15px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #cff2b2;
  background-color: #f4ffe9;
}

/*** pagination ***/
.pagination {
  margin: 10px 0 0 0;
  padding: 2px 10px;
  font-size: 0.8em;
  color: #fff;
  background-color: @green2;
  text-shadow: #222 0 0 1px;

  span, a {
    margin: 0;
    padding: 0;
  }
}

/****** lists *******/
table.list {
  width: 100%;

  h3 {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }

  tr {
    border-width: 1px 0;
    border-color: #f0f1f2;
    border-style: solid;
  }

  &.list-all .closed {
    text-decoration: line-through;
  }

  td {
    padding: 8px 10px;
    color: #4b4b4b;

    img {
      vertical-align: middle;
    }

    &.title a {
      font-size: 16px;
      font-weight: bold;
    }

    &.votes {
      width: 75px;
    }
  }
}

/**** forms ****/
#id_honeypot {
  display: none;
}

form table {
  width: 100%;
}

textarea {
  width: 70%;
  height: 120px;
}

input[type="text"], input[type="password"], textarea {
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  border: none;
  padding: 5px 15px;
  font-size: 12px;
  background-color: #69b500;
  text-shadow: 1px 1px 0 #457800;
  color: #ffffff;
}

form td.input-label {
  width: 200px;
  vertical-align: top;
}

form td.input-label label {
  padding: 0;
  text-align: left;
}

form td {
  padding-bottom: 5px;
}

form td.input-label .form-help, .help-text {
  font-size: 11px;
  color: #999999;
  line-height: 12px;
  float: left;
}

form td.field-error input, form td.field-error textarea {
  border-color: #ff8b8b;
}

form td.input-label .required {
  font-size: 10px;
  color: #999999;
  padding-left: 5px;
  width: 100%;
  float: left;
}

.form-errors {
  color: #ff0000;
  padding: 4px 0 2px 0;
  font-size: 11px;
  line-height: 10px;
}

.form-errors ul {
  padding: 0;
  list-style: none;
}

.form-errors li {
  color: #ff0000;
  font-size: 11px;
  line-height: 10px;
}

.form-cancel {
  margin-left: 15px;
}

/***** comments *****/
div.message .avatar {
  float: left;
  padding: 10px 4px 4px 4px;
  vertical-align: text-bottom;
  line-height: 0;
}

div.message .content {
}

div.message .content .details {
  padding: 0 0 5px 0;
  font-size: 11px;
  font-weight: normal;
  color: #888888;
  vertical-align: top;
  line-height: 11px;
  text-align: left;
}

div.message {
  border-width: 0 0 1px 0;
  border-color: #d9d9d9;
  border-style: solid;
  padding: 5px 0 0 0;
}

div.message-content {
  padding: 10px 40px 10px 100px;
  min-height: 60px;
}

div.content img {
  padding: 2px;
  border: 1px solid #bbb;
}

.comment .details {
  text-align: left;
}
