{% extends "djangovoice/base.html" %}

{% load trans from i18n %}
{% load url from future %}

{% block title %}{% trans "Feedback" %}{% endblock %}

{% block navbottom %}
  {% include "djangovoice/includes/navbottom.html" with active_tab='new_feedback' %}
{% endblock %}

{% block content %}
  <div id="submit" class="content-spaces">
    <h1 class="page-title">{% trans "Submit your feedback" %}</h1>

    <form action="{% url 'djangovoice_submit' %}" method="post" class="form-horizontal">
      {% csrf_token %}

      {% include "djangovoice/includes/field.html" with field=form.title %}
      {% include "djangovoice/includes/field.html" with field=form.description %}
      {% include "djangovoice/includes/field.html" with field=form.type %}

      <div class="control-group">
        <div class="controls">
          {% if user.is_authenticated %}
            <div>
              {% include "djangovoice/includes/field_checkbox.html" with field=form.anonymous inline=1 %}
              {% include "djangovoice/includes/field_checkbox.html" with field=form.private inline=1 %}
            </div>
          {% endif %}

          <button type="submit" class="btn">{% trans "Submit" %}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
