{% extends "djangovoice/base.html" %}

{% load i18n %}
{% load url from future %}
{% load djangovoice_tags qhonuskan_votes gravatar comments %}

{% block scripts %}
  {{ block.super }}
  {% voting_script %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbottom %}
  {% include "djangovoice/includes/navbottom.html" with active_tab='overview' %}
{% endblock %}

{% block content %}
  <div class="content-spaces">
    <h2>{{ title }}</h2>
  </div>

  {% if object_list %}
    <ul class="feedback-list">
      {% for object in object_list %}
        {% get_comment_count for object as comment_count %}

        <li class="feedback-type-{{ object.type.slug }}">
          <span class="pull-right feedback-type feedback-type-{{ object.type.slug }}">
            {{ object.type.title }}
          </span>
          <span class="pull-right feedback-status feedback-status-{{ object.status.slug }}">
            {{ object.status.title }}
          </span>

          <div class="votes pull-left">
            {% vote_buttons_for object "djangovoice/includes/vote_buttons.html" %}
          </div>

          <div class="details">
            <h3>
              <a href="{{ object.get_absolute_url }}">
                {{ object.title }}
              </a>
            </h3>

            <p>
              <span class="feedback-user">
                {% if object.user %}
                  {% trans "Submitted by:" %}
                  <a href="{{ object.user.get_absolute_url }}" class="avatar" title="{% trans "View profile" %}">
                    {% gravatar object.user.username 15 %}
                  </a>

                  <a href="{{ object.user.get_absolute_url }}" title="View profile">{% user_name object.user %}</a>
                {% else %}
                  {% trans "Submitted anonymously" %}
                {% endif %}
              </span>

              <span class="feedback-date">
                {% blocktrans with object.created|date:"d M Y" as create_date %}on {{ create_date }}{% endblocktrans %}
              </span>

              <span class="feedback-comments">
                <a href="{{ object.get_absolute_url }}">
                  {% blocktrans count counter=comment_count %}
                    {{ counter }} comment
                  {% plural %}
                    {{ counter }} comments
                  {% endblocktrans %}
                </a>
              </span>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
{#          {% if feedback.private %}#}
{#            <td class="feedback-private">{% trans "PRIVATE" %}</td>#}
{#          {% endif %}#}
  {% else %}
    <p>{% trans "No one has contributed any feedback yet. Be the first and submit some feedback!" %}</p>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include "djangovoice/sidebar.html" %}
{% endblock %}
